@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: "Outfit", serif;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  ::-webkit-scrollbar{
    display: none;
  }
  
  @media(max-width: 640px){
    a.active{
    background-color: black;
    color: #fff;
    }
  }

  .linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, #000 20%, #4caf50 40%, #4caf50 60%, #000 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 2s linear infinite;
   
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }